.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    border: 2px solid black;
    padding: 30px 100px;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

button {
    align-self: center;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

span {
    align-self: center;
}

.adress-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    align-self: center;
}

.separateur {
    width: 100%;
    height: 1px;
    background-color: grey;
}

/* modal */

.modal {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px 70px;
    position: relative;
    width: 154px;
    display: none;
    background-color: #fff;
}

.modal-content {
    display: flex;;
    flex-direction: column;
    align-items: center;
}

.modal-showed {
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1000 !important;
  display: block;
}

.cross-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 5px;
    background-color: #000;
    border-radius: 50px;
    height: 15px;
    width: 15px;
}

.close {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.modal h2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

